<div class="container">
  <div class="row mt-5">
    <div><h1><%= current_user.first_name %>'s Booking List</h1></div>
    <div><h3>You can check all your upcoming bookings and each booking status.</h3></div>

      <% if @bookings.exists? %>
        <% @bookings.each do |t| %>
          <div class="col-md-4">
            <div class="card-container mt-3">
              <p><b>Booking ID#<%= t.id %></b></p>
              <%= image_tag t.celineversion.image, width: 300%>
              <div class="card-container-infos">
                <ul>
                  <li><p>Booking start date: <b><%= t.start_date %></b></p></li>
                  <li><p>Booking end date: <b><%= t.end_date %></b></p></li>
                  <li><p>Booking Price : <b><%= t.celineversion.price %>$CAD</b></p></li>
                  <li><p>Booking Status : <b><%= t.status %></b></p></li>
                  <li><p>Your Booker is: <b><%= t.user.first_name.capitalize %> <%= t.user.last_name.capitalize %></b></p></li>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="mt-5">
          <h3><strong>You have no bookings for the moment.</strong></h3>
          <p>List all the available CelineVersions. We know you'll find your joy!</p>
          <%= link_to "Display All CélineVersions", celineversions_path, { class: "btn btn-dark" } %>
        </div>
      <% end %>
  </div>
</div>
