<div class="container mt-5">

    <h2><strong>All the available CélineVersions</strong></h2>
    <h5 class="mb-5">Choose the version of Céline that fits your style.</h5>

  <div class="row">
    <% @celineversions.each do |t| %>
      <div class="col-md-4">

        <div class="card-container cc-hover mb-4">
          <%= image_tag t.image, width: 300%>
          <div class="card-container-infos">
            <div>
              <h2><%= t.name  %></h2>
              <div class="mt-2"><h4><%= t.description %></h4></div>
            </div>
              <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> -->
          </div>
          <div class="card-container-pricing mr-3">
            <h3><strong><%= t.price %> $CAD/day</strong></h3>
          </div>
            <div class="card-book m-3">
              <%= link_to "CHECK THIS VERSION", celineversion_path(t), { class: "btn btn-outline-dark" } %>
            </div>
          </div>
        </div>

    <% end %>
  </div>

</div>


