<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">

      <div class="mb-3"><h2>Selected Version > <strong><%= @celineversion.name %></strong></h2></div>
      <div class="card-container">
        <%= image_tag @celineversion.image, class: "card-container-img" %>

        <div class="card-container-infos">
          <h3><%= @celineversion.description %></h3>
        </div>

        <h5 class="card-container-pricing mr-3"><%= @celineversion.price %> $CAD</h5>

        <div class="card-book m-2">
          <ul>
            <%= link_to "BOOK THIS VERSION", new_celineversion_booking_path(@celineversion), { class: "btn btn-dark" } %>
            <% if @celineversion.user == current_user %>
              <%= link_to "EDIT", edit_celineversion_path(@celineversion), { class: "btn btn-outline-dark" } %>
              <%= link_to "DELETE", celineversion_path(@celineversion), method: :delete, data: {confirm: "Are you sure you want to drop this Céline?"}, class: "btn btn-outline-danger" %>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="mt-5 text-right"><%= link_to "BACK TO ALL VERSIONS", celineversions_path, class: "btn btn-light active" %></div>
    </div>
  </div>
</div>
