<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card-trip">
        <%= image_tag @celineversion.image, width: 300%>
        <div class="card-trip-infos">
          <h2><%= @celineversion.name %></h2>
          <p><%= @celineversion.description %></p>
        </div>
        <h3 class="card-trip-pricing"><%= @celineversion.price %> $CAD</h3>
      </div>
      <div class="card-book">
        <%= link_to "BOOK ME ?", celineversion_path(@celineversion), { class: "btn btn-dark" } %>
        <% if @celineversion.user == current_user %>
          <%= link_to "EDIT", edit_celineversion_path(@celineversion), { class: "btn btn-dark" } %>
          <%= link_to "DELETE", celineversion_path(@celineversion), method: :delete, class: "btn btn-dark" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%#= link_to "Back all Celine versions", celineversions_path  %>
